body{
    background:black;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

ul{
    display:flex;
    list-style:none;
    gap:30px;
    font-size:14px;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.logo span{
    color:blue;
}

.hero{
    min-height:85vh;
    display:flex;
    align-items:center;
    padding:0 80px;
}

.hero h1{
    font-size:80px;
    line-height:1.0;
}

.hero span{
    color:blue;
}

.hero-content{
    max-width:700px;
}

.hero p{
    margin-top:30px;
    font-size:18px;
    color:white;
    line-height:1.6;
    max-width:500px;
}

.hero button{
    margin-top:30px;
    background:blue;
    color:white;
    border:none;
    padding:15px 25px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}
